/node_modules
/public/hot
/public/storage
/public/vendor
/public/js/*.js
/public/css/*.css
/public/js/*.LICENSE.txt
/storage/*.key
/vendor
/.idea
/.vscode
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
/storage/fonts/
/public/.htaccess
**/.DS_Store
ngrok